h1  {
    font-size: x-large;
    color: white;
}

p   {
    font-size: medium;
    color: white;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    text-align: center;
    background: #3B4252;
    font-size: 30px;
    font-family: poppins;
  }