h1  {
    font-size: x-large;
    color: white;
}

p   {
    font-size: medium;
    color: white;
}

.header {
    overflow: hidden;
    margin: 0px;
    width: 100%;
    width: 100%;
    background: #3B4252;
    font-family: poppins;
    text-align: center;
  }