h1  {
    font-size: x-large;
    color: white;
}

p   {
    font-size: medium;
    color: white;
}

.header {
    overflow: hidden;
    background-color: #3B4252;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
  }